{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "prettier"
    ],
    "extends": ["airbnb", "prettier", "plugin:node/recommended"],
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
      "prettier/prettier": "error"
    } 
  }